---
---

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "functions";

// 2. Include any default variable overrides here

/* SCSS HEX */
/* https://coolors.co/11366a-0190c7-f4faff-e5003f-dee7e7 */
/* https://coolors.co/11366a-0190c7-e5003f-959595-f0f0f0 */
$prussian-blue: #11366a;
$blue-ncs: #0190c7;
$alice-blue: #f4faff;
$crimson: #e5003f;
$platinum: #dee7e7;
$imperial-red: #EF233C; /* rgba(239,35,60,1) */
$cerulean-frost: #6D93B1;


$hme-blue: $prussian-blue;
$hme-blue2: $blue-ncs;
$hme-red: $imperial-red;
$hme-dark-red: #D72036;
$hme-light-blue: #D3DFE8;

$danger: $imperial-red;

$hme-maroon: #B81365;
$light-grey: #f0f0f0;
$medium-grey: #E2E2E2;
$grey: #959595;
$dark-grey: #383838;

$primary: $cerulean-frost;
$secondary:   $hme-red;

$font-family-sans-serif: 'Poppins', Helvetica, Arial, sans-serif;
$display-font-family: 'Poppins', Helvetica, Arial, sans-serif;
$headings-font-family: 'Poppins', Helvetica, Arial, sans-serif;

$font-size-root: 18px;
$line-height-base: 1.625;
$display-font-weight: 400;

$border-radius: .5rem; /* .5rem .25rem .375rem; */
$card-border-radius: 0.5rem;

$font-weight-medium: 500;
$font-weight-bold: 600;

// 3. Include remainder of required Bootstrap stylesheets
@import "variables";

// 4. Include any default map overrides here

$navbar-nav-link-padding-x:         1rem;
$navbar-brand-font-size:            $font-size-lg;
$navbar-light-color:                $hme-blue;
$navbar-light-hover-color:          $secondary;
$navbar-light-active-color:         $secondary;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: $hme-blue;
$navbar-toggler-font-size:          $font-size-base;
$navbar-toggler-padding-y:          .375rem;
$navbar-toggler-padding-x:          .75rem;
$navbar-toggler-border-radius:      .5rem;

$dropdown-border-radius:    .5rem;
$dropdown-color: $hme-blue;           
$dropdown-bg: $white;
$dropdown-border-color:     $primary;
$dropdown-link-color:       $hme-blue;
$dropdown-link-hover-color: $secondary;
$dropdown-link-hover-bg:    $white;
$dropdown-item-padding-y:   .25rem;


$nav-link-font-weight: $font-weight-semibold;
$nav-link-font-size: 1.125rem;
$nav-link-color: $white;
$nav-link-hover-color: $secondary;
$navbar-nav-link-padding-x:  1.25rem; 

$nav-pills-link-active-color:       $white;
$nav-pills-link-active-bg:          transparent;
$nav-pills-border-radius:           50%;

$form-label-margin-bottom: 0rem;
$form-label-font-weight: 400;
$form-label-font-size: 1rem;
$form-switch-width: 3rem;
$form-check-input-width: 1.625rem; /* = lineheight for input */

$form-switch-padding-start: 3.5rem;
$input-border-radius: 0.25rem;
$form-select-border-radius: 0.25rem;

$form-check-inline-margin-end: 0rem;
$form-check-margin-bottom: 0rem;
$form-feedback-tooltip-border-radius: 0.25rem;
$form-feedback-tooltip-padding-y: 0rem;
$form-feedback-tooltip-padding-x: 0.25rem;

$link-hover-color:  $secondary;

$custom-colors: (
  "hme-blue": $hme-blue,
  "hme-blue2": $hme-blue2,
  "hme-dark-red": $hme-dark-red,
  "hme-light-blue": $hme-light-blue,
  "alice-blue": $alice-blue,
  "platinum": $platinum,
  "black": $black,
  "grey": $grey,
  "medium-grey": $medium-grey,
  "dark-grey": $dark-grey,
  "light-grey": $light-grey,
  "white": $white
  );

$theme-colors: map-merge($theme-colors, $custom-colors);

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
  );

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  );

/*   custom: 80rem,
form: 800px */

.container {
  max-width: 960px !important;
}
.container-text {
  max-width: 1600px !important;
}

$utilities: (
 "font-weight": (
  property: font-weight,
  class: fw,
  values: (
    light: $font-weight-light,
    lighter: $font-weight-lighter,
    normal: $font-weight-normal,
    medium: $font-weight-medium,
    semibold: $font-weight-semibold,
    bold: $font-weight-bold,
    bolder: $font-weight-bolder
    )
  )
 );

$display-font-sizes: (
  0: 8rem,
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$display-font-family: null;
$display-font-style:  null;
$display-font-weight: 600;
$display-line-height: 0.8;


$modal-backdrop-opacity: .9;
$modal-fade-transform: scale(.9);


// 5. Include remainder of required parts
@import "maps";
@import "mixins";
@import "root";

// 6. Optionally include any other parts as needed
@import "utilities";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";

@import "forms";
@import "pagination";

@import "buttons";
@import "card";
@import "carousel";
@import "dropdown";
@import "images";
@import "navbar";
@import "nav";
@import "vendor/rfs";
@import "transitions";
@import "modal";
//@import "close";

@import "helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "utilities/api";

// 8. Add additional custom code here
@import "hm-easyumzug/layout";
@import "hm-easyumzug/navbar";
@import "hm-easyumzug/booking-form";
@import "hm-easyumzug/buttons";
@import "hm-easyumzug/type";
@import "hm-easyumzug/landing-page-private";
@import "hm-easyumzug/hero-video";