---
---

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "functions";

// 2. Include any default variable overrides here

/* SCSS HEX */
/* https://coolors.co/11366a-0190c7-f4faff-e5003f-dee7e7 */
/* https://coolors.co/11366a-0190c7-e5003f-959595-f0f0f0 */
$prussian-blue: #11366a;
$blue-ncs: #0190c7;
$alice-blue: #f4faff;
$crimson: #e5003f;
$platinum: #dee7e7;
$imperial-red: #EF233C;


$hme-blue: $prussian-blue;
$hme-blue2: $blue-ncs;
$hme-red: $imperial-red;

$hme-maroon: #B81365;
$light-grey: #f0f0f0;
$grey: #959595;
$dark-grey: #383838;

$primary: $hme-blue2;
$secondary:   $hme-red;

$font-family-sans-serif: 'Poppins', Helvetica, Arial, sans-serif;
$display-font-family: 'Poppins', Helvetica, Arial, sans-serif;
$headings-font-family: 'Poppins', Helvetica, Arial, sans-serif;

$font-size-root: 16px;
$line-height-base: 1.625;
$display-font-weight: 400;

$border-radius: .5rem; /* .25rem .375rem; */

// 3. Include remainder of required Bootstrap stylesheets
@import "variables";

// 4. Include any default map overrides here

$navbar-nav-link-padding-x:         1rem;
$navbar-light-color:                $hme-blue;
$navbar-light-hover-color:          $secondary;
$navbar-light-active-color:         $secondary;

$nav-link-color: $white;
$nav-pills-link-active-color:       $white;
$nav-pills-link-active-bg:          transparent;
$nav-pills-border-radius:           50%;

$custom-colors: (
  "hme-blue": $hme-blue,
  "hme-blue2": $hme-blue2,
  "alice-blue": $alice-blue,
  "platinum": $platinum,
  "grey": $grey,
  "dark-grey": $dark-grey,
  "light-grey": $light-grey
  );

$theme-colors: map-merge($theme-colors, $custom-colors);

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$display-font-sizes: (
  1: 3.5rem,
  2: 3rem,
  3: 2.5rem,
  4: 2rem,
  5: 1.5rem,
  6: 1rem
  );

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

/*   custom: 80rem,
  form: 800px */

.container {
  max-width: 960px;
}


// 5. Include remainder of required parts
@import "maps";
@import "mixins";
@import "root";

// 6. Optionally include any other parts as needed
@import "utilities";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "helpers";
@import "forms";
@import "pagination";

@import "buttons";
@import "card";
@import "carousel";
@import "dropdown";
@import "images";
@import "navbar";
@import "nav";
@import "vendor/rfs";
@import "transitions";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "utilities/api";

// 8. Add additional custom code here

* {
  box-sizing: border-box;
}

body {
  padding-top: 88px; /* offset for fixed-top navbar */
}
/* offset scrolling position for anchor links */ 
html {
  scroll-padding-top: 88px; /* height of fixed header */
}
/* no idea why position: fixed is overwritten by position: relative from .navbar, 
so let's declare it here again */
.fixed-top {
  position: fixed;
}
/* add an icon after external links, using FontAwesome */
/* use class .no-icon to strip icon */
a:not(.no-icon)[href^="http://"]:after, a:not(.no-icon)[href^="https://"]:after, a:not(.no-icon)[href^="ftp://"]:after {
  content: "\f35d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}

@import 'additional'