
<form id="bookingForm" class="mt-5" action="https://submit-form.com/Q62bnjrt" target="_blank" novalidate>
  <input
  type="hidden"
  name="_redirect"
  value="https://calendly.com/hm-easyumzug/30min"
  >
  <input type="hidden" name="_append" value="false" >
  <input type="hidden" name="_email.subject" value="Neue Kundenanfrage" >


  <!-- Form Nav -->
  <ul class="nav nav-pills d-flex align-items-center justify-content-center pb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active nav-link-hme" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#tab-1" type="button" role="tab" aria-controls="tab-1" aria-selected="true">
        <img src="/assets/icons/calendar.svg">
      </button>          
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link nav-link-hme disabled" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false">
        <img src="/assets/icons/arrow-out.svg">
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link nav-link-hme disabled" id="pills-3-tab" data-bs-toggle="pill" data-bs-target="#tab-3" type="button" role="tab" aria-controls="tab-3" aria-selected="false">
        <img src="/assets/icons/arrow-in.svg">
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link nav-link-hme disabled" id="pills-4-tab" data-bs-toggle="pill" data-bs-target="#tab-4" type="button" role="tab" aria-controls="tab-4" aria-selected="false">
        <img src="/assets/icons/plus.svg">
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link nav-link-hme disabled" id="pills-5-tab" data-bs-toggle="pill" data-bs-target="#tab-5" type="button" role="tab" aria-controls="tab-5" aria-selected="false">
        <img src="/assets/icons/user.svg">
      </button>
    </li>
  </ul>

  <!-- Form Content -->

  <!-- tab 1 -->

  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="pills-1-tab" tabindex="0">
      <div class="row gx-3 gx-md-5 mt-5">
        <div class="col-12 col-md-12 text-center">
          <label for="date" class="col-form-label required">Umzugsdatum</label>
        </div>
        <div class="col-8 offset-2 col-md-4 offset-md-4 position-relative">
          <input id="date" type="date" class="form-control" name="1_1-Umzugsdatum" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
        </div>
      </div>
      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-12 text-center">
          <label for="flexibleDate" class="col-form-label">Flexibles Datum?</label>
        </div>
        <div class="col-8 offset-2 col-md-4 offset-md-4 text-center">
          <label class="form-check-label form-check-label-hme pe-1" for="flexibleDate">Nein</label>
          <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" type="checkbox" role="switch" id="flexibleDate" name="1_2-FlexiblesDatum">
            <label class="form-check-label form-check-label-hme" for="flexibleDate">Ja</label>
          </div>
        </div>
      </div>

      <div class="row gx-5 mt-5">
        <div class="col-6 offset-3 col-md-4 offset-md-4">
          <a class="d-block btn btn-outline-secondary btnNext" role="button">Weiter</a>
        </div>
      </div>
    </div>

    <!-- tab 2 -->

    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="pills-2-tab" tabindex="0">

      <div class="row gx-3 gx-md-5 mt-3 mt-md-5">
        <div class="col-6 col-md-4 offset-md-2">
          <label for="addressOut" class="form-label required">Adresse Auszugsort</label>
        </div>
        <div class="col-12 col-md-8 offset-md-2 position-relative">
          <input type="text" class="form-control" id="addressOut" name="2_1-AdresseAuszug" required>
        </div>
      </div>
      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-6 col-md-3 offset-md-2">
          <label for="floorOut" class="col-form-label required">Etage Auszugsort</label>
        </div>
        <div class="col-6 col-md-5 position-relative">
          <select class="form-select" aria-label="Floor" id="floorOut" name="2_2-EtageAuszug" required>
            <option value="" selected>Auswählen</option>
            <option value="EG">EG</option>
            <option value="1.OG">1. OG</option>
            <option value="2.OG">2. OG</option>
            <option value="3.OG">3. OG</option>
            <option value="4.OG">4. OG oder höher</option>
            <option value="Einfamilienhaus">Einfamilienhaus</option>
            <option value="Parterre">Parterre</option>
            <option value="Souterrain">Souterrain</option>
            <option value="Keller">Keller</option>
            <option value="Nichts zutreffend">Nichts zutreffend</option>
          </select>
        </div>
      </div>
      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-6 col-md-3 offset-md-2">
          <label for="elevator" class="col-form-label">Aufzug vorhanden?</label>
        </div>
        <div class="col-6">
          <label class="form-check-label form-check-label-hme pe-1" for="elevator">Nein</label>
          <div class="form-check form-switch form-check-inline">  
            <input class="form-check-input" type="checkbox" role="switch" id="elevator" name="2_3-AufzugVorhanden">
            <label class="form-check-label form-check-label-hme" for="elevator">Ja</label>
          </div>
        </div>
      </div>
      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-6 col-md-3 offset-md-2">
          <label for="parkingOut" class="col-form-label lh-1">Halteverbotszone erforderlich?</label>
        </div>
        <div class="col-6">
          <label class="form-check-label form-check-label-hme pe-1" for="parkingOut">Nein</label>
          <div class="form-check form-switch form-check-inline">        
            <input class="form-check-input" type="checkbox" role="switch" id="parkingOut" name="2_4-Halteverbot">
            <label class="form-check-label form-check-label-hme" for="parkingOut">Ja</label>
          </div>
        </div>
      </div>

      <div class="row gx-3 mt-5">
        <div class="col-6 col-md-4 offset-md-2">
          <a class="d-block btn btn-outline-grey btnPrevious" role="button">Zurück</a>
        </div>
        <div class="col-6 col-md-4">
          <a class="d-block btn btn-outline-secondary btnNext" role="button">Weiter</a>
        </div>
      </div>

    </div>

    <!-- tab 3 -->

    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="pills-3-tab" tabindex="0">

      <div class="row gx-3 gx-md-5 mt-3 mt-md-5">
        <div class="col-6 col-md-4 offset-md-2">
          <label for="addressIn" class="form-label required">Adresse Einzugsort</label>
        </div>
        <div class="col-12 col-md-8 offset-md-2 position-relative">
          <input type="text" class="form-control" id="addressIn" name="3_1-AdresseEinzug" required>
        </div>
      </div>
      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-6 col-md-3 offset-md-2">
          <label for="floorIn" class="col-form-label required">Etage Einzugsort</label>
        </div>
        <div class="col-6 col-md-5 position-relative">
          <select class="form-select" aria-label="FloorIn" id="floorIn" name="3_2-EtageEinzug" required>
            <option value="" selected>Auswählen</option>
            <option value="EG">EG</option>
            <option value="1.OG">1. OG</option>
            <option value="2.OG">2. OG</option>
            <option value="3.OG">3. OG</option>
            <option value="4.OG">4. OG oder höher</option>
            <option value="Einfamilienhaus">Einfamilienhaus</option>
            <option value="Parterre">Parterre</option>
            <option value="Souterrain">Souterrain</option>
            <option value="Keller">Keller</option>
            <option value="Nichts zutreffend">Nichts zutreffend</option>
          </select>
        </div>
      </div>
      
      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-6 col-md-3 offset-md-2">
          <label for="elevatorIn" class="col-form-label">Aufzug vorhanden?</label>
        </div>
        <div class="col-6">
          <label class="form-check-label form-check-label-hme pe-1" for="elevatorIn">Nein</label>
          <div class="form-check form-switch form-check-inline">  
            <input class="form-check-input" type="checkbox" role="switch" id="elevatorIn" name="3_3-AufzugVorhanden">
            <label class="form-check-label form-check-label-hme" for="elevatorIn">Ja</label>
          </div>
        </div>
      </div>
      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-6 col-md-3 offset-md-2">
          <label for="parkingIn" class="col-form-label lh-1">Halteverbotszone erforderlich?</label>
        </div>
        <div class="col-6">
          <label class="form-check-label form-check-label-hme pe-1" for="parkingIn">Nein</label>
          <div class="form-check form-switch form-check-inline">        
            <input class="form-check-input" type="checkbox" role="switch" id="parkingIn" name="3_4-Halteverbot">
            <label class="form-check-label form-check-label-hme" for="parking">Ja</label>
          </div>
        </div>
      </div>

      <div class="row gx-3 mt-5">
        <div class="col-6 col-md-4 offset-md-2">
          <a class="d-block btn btn-outline-grey btnPrevious" role="button">Zurück</a>
        </div>
        <div class="col-6 col-md-4">
          <a class="d-block btn btn-outline-secondary btnNext" role="button">Weiter</a>
        </div>
      </div>
    </div>

    <!-- tab 4 -->

    <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="pills-4-tab" tabindex="0">

      <div class="row gx-3 gx-md-5 mt-3 mt-md-5">
        <div class="col-12 col-md-4 offset-md-4 text-center">
          <p class="fw-semibold fs-5 mb-0">Services</p>
        </div>
      </div> 

      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-5 col-md-2 offset-md-3">
          <label class="form-check-label form-check-label-hme pe-1" for="packing">Nein</label>
          <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" type="checkbox" role="switch" id="packing" name="4_1-Einpackservice">
            <label class="form-check-label form-check-label-hme" for="packing">Ja</label>
          </div>
        </div>
        <div class="col-7 col-md-7">
          <label for="packing" class="col-form-label lh-1-responsive">Einpackservice</label>
        </div>
      </div>

      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-5 col-md-2 offset-md-3">
          <label class="form-check-label form-check-label-hme pe-1" for="boxes">Nein</label>
          <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" type="checkbox" role="switch" id="boxes" name="4_2-Umzugskartons">
            <label class="form-check-label form-check-label-hme" for="boxes">Ja</label>
          </div>
        </div>
        <div class="col-7 col-md-7">
          <label for="boxes" class="col-form-label lh-1-responsive">Umzugs- und Kleiderkartons</label>
        </div>
      </div>

      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-5 col-md-2 offset-md-3">
          <label class="form-check-label form-check-label-hme pe-1" for="furniture">Nein</label>
          <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" type="checkbox" role="switch" id="furniture" name="4_3-MoebelMontage">
            <label class="form-check-label form-check-label-hme" for="furniture">Ja</label>
          </div>
        </div>
        <div class="col-7 col-md-7">
          <label for="furniture" class="col-form-label lh-1-responsive">Ab- und Aufbau von Möbeln</label>
        </div>
      </div>

      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-5 col-md-2 offset-md-3">
          <label class="form-check-label form-check-label-hme pe-1" for="storage">Nein</label>
          <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" type="checkbox" role="switch" id="storage" name="4_4-Einlagerung">
            <label class="form-check-label form-check-label-hme" for="storage">Ja</label>
          </div>
        </div>
        <div class="col-7 col-md-7">
          <label for="storage" class="col-form-label lh-1-responsive">Einlagerung</label>
        </div>
      </div>

      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-5 col-md-2 offset-md-3">
          <label class="form-check-label form-check-label-hme pe-1" for="trash">Nein</label>
          <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" type="checkbox" role="switch" id="trash" name="4_5-Entsorgung">
            <label class="form-check-label form-check-label-hme" for="trash">Ja</label>
          </div>
        </div>
        <div class="col-7 col-md-7">
          <label for="trash" class="col-form-label lh-1-responsive">Entrümpelung und Entsorgung</label>
        </div>
      </div>

      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-12 col-md-6 offset-md-3">
          <label for="servicesAdditional" class="form-label lh-1">weitere Services (z.B. Klaviertransport oder zusätzliche Adresse)</label>
        </div>
        <div class="col-12 col-md-6 offset-md-3">
          <input type="text" class="form-control" id="servicesAdditional" name="4_6-WeitereServices">
        </div>
      </div>

      <div class="row gx-3 mt-5">
        <div class="col-6 col-md-4 offset-md-2">
          <a class="d-block btn btn-outline-grey btnPrevious" role="button">Zurück</a>
        </div>
        <div class="col-6 col-md-4">
          <a class="d-block btn btn-outline-secondary btnNext" role="button">Weiter</a>
        </div>
      </div>
    </div>

    <!-- tab 5 -->

    <div class="tab-pane fade" id="tab-5" role="tabpanel" aria-labelledby="pills-5-tab" tabindex="0">

      <div class="row gx-3 gx-md-3 mt-3 mt-md-5">
        <div class="col-6 col-md-2 offset-md-2">
          <label for="salutation" class="form-label">Anrede</label>
          <select class="form-select" aria-label="Floor" id="salutation" name="5_1-Anrede">
            <option value="" selected>Auswählen</option>
            <option value="Frau">Frau</option>
            <option value="Herr">Herr</option>
            <option value="Nichts zutreffend">Nichts zutreffend</option>
          </select>
        </div>
        <div class="col-12 col-md-3 position-relative">
          <label for="firstName" class="form-label required">Vorname</label>
          <input type="text" class="form-control" id="firstName" name="5_2-Vorname" required>
        </div>
        <div class="col-12 col-md-3 position-relative">
          <label for="lastName" class="form-label required">Nachname</label>
          <input type="text" class="form-control" id="lastName" name="5_3-Nachname" required>
        </div>
      </div>
      <div class="row gx-3 gx-md-3 mt-4 mt-md-3">
        <div class="col-12 col-md-4 offset-md-2 position-relative">
          <label for="email" class="form-label required">Email</label>
          <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="col-12 col-md-4">
          <label for="tel" class="form-label">Telefon</label>
          <input type="text" class="form-control" id="tel" name="5_5-Telefon">
        </div>
      </div>

      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-5 col-md-2 offset-md-2">
          <label class="form-check-label form-check-label-hme pe-1" for="list">Nein</label>
          <div class="form-check form-switch form-check-inline position-relative">
            <input class="form-check-input" type="checkbox" role="switch" id="list" name="5_6-Umzugsgutliste">
            <label class="form-check-label form-check-label-hme" for="list">Ja</label>
          </div>
        </div>
        <div class="col-7 col-md-7">
          <label for="list" class="col-form-label lh-1-responsive"><em>Für Experten: Umzugsgutliste vorhanden</em></label>
        </div>
      </div>

      <div class="row gx-3 gx-md-5 mt-3">
        <div class="col-5 col-md-2 offset-md-2">
          <label class="form-check-label form-check-label-hme pe-1" for="agree">Nein</label>
          <div class="form-check form-switch form-check-inline position-relative">
            <input class="form-check-input" type="checkbox" role="switch" id="agree" name="5_7-ZustimmungAGB" required>
            <label class="form-check-label form-check-label-hme" for="agree">Ja</label>
          </div>
        </div>
        <div class="col-7 col-md-7">
          <label for="agree" class="col-form-label lh-1-responsive required">Ich stimme den <a href="/agb">AGB</a> und der Datenverarbeitung gemäß der <a href="/datenschutz">Datenschutzerklärung</a> zu</label>
        </div>
      </div>

      <div class="row gx-3 mt-5">
        <div class="col-6 col-md-4 offset-md-2">
          <a class="d-block btn btn-outline-grey btnPrevious" role="button">Zurück</a>
        </div>
        <div class="col-6 col-md-4">
          <button class="d-block w-100 btn btn-outline-secondary btnNext" type="submit">Weiter zum Gespräch</button>
        </div>
      </div>
    </div>
  </div>

</form>
