<div class="col-12 col-md-4 offset-md-4">
	<a class="text-decoration-none" href="/#booking-tool">
		<div class="card hme-card shadow border-secondary p-4">
			<div class="card-image-wrapper d-flex justify-content-center align-items-center">
				<img src="/assets/icons/icon-chat-white-bg.svg" class="text-center" alt="..." width="50">
			</div>
			<div class="py-2">
				<p class="card-text text-black text-center">
				{% if include.cta %}
					{{ include.cta }}
				{% else %}
					Gesprächstermin vereinbaren
				{% endif %}
				</p>
			</div>
			<div class="text-center arrow">
				<img src="/assets/icons/arrow.svg">
			</div>
		</div>
	</a>
</div>