
<div class="footer-cta position-relative">
  <div class="container-fluid position-absolute h-100 d-none d-md-block z-index-bg">
    <div class="row h-100">
      <div class="col-6 bg-hme-dark-red">
      </div> 
      <div class="col-6 bg-secondary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <a class="text-decoration-none text-white col-6 col-md-5 bg-hme-dark-red text-white pb-5 pt-6 ps-4 ps-lg-5 link no-icon" href="https://www.google.com/maps/place/HM-Easyumzug/@50.1123919,8.6526361,15z/data=!4m5!3m4!1s0x0:0xf06c93261023e3ec!8m2!3d50.1123919!4d8.6526361">
        <span>Besuchen Sie uns doch!</span><br>
        <span class="display-4">Visit us</span>
      </a>
      <a class="text-decoration-none text-white col-6 col-md-7 bg-secondary text-white pb-5 pt-6 ps-4 ps-lg-6 link" href="/kontakt">
        <span>Bereit für Ihren Umzug?</span><br>
        <span class="display-4">Say Hello</span>
      </a>
    </div>
  </div>
</div>

<div class="position-relative">
  <div class="container-fluid position-absolute z-index-bg h-100 d-none d-md-block">
    <div class="row h-100">
      <div class="col-6 bg-primary">
      </div> 
      <div class="col-6 bg-hme-light-blue">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 bg-primary text-white py-3 py-md-5 ps-4 ps-lg-5">
        <div class="container d-flex justify-content-center justify-content-md-start align-items-center p-0">
          <span class="display-4">
            <a class="link-white no-icon" href="https://www.instagram.com/hmeasyumzug/?hl=af"><i class="fa-brands fa-instagram"></i></a>
            <a class="link-white no-icon ms-4" href="https://www.facebook.com/pages/category/Moving---Storage-Service/HM-Easyumzug-106265624347586/"><i class="fa-brands fa-facebook"></i></a>
            <span class="text-white no-icon ms-4" href=""><i class="fa-brands fa-linkedin"></i></span>
          </span>
        </div>
      </div>
      <div class="payment d-flex align-items-center col-12 col-md-7 bg-hme-light-blue text-white py-3 py-md-5 ps-4 ps-lg-6">
        <div class="container d-flex justify-content-center justify-content-md-start align-items-center p-0">
          <img class="img-fluid ms-0" src="/assets/badges/girocard.svg">
          <img class="img-fluid" src="/assets/badges/visa.svg"  style="height: 1.5rem;">
          <img class="img-fluid" src="/assets/badges/mastercard.svg" style="height: 2rem;">
          <img class="img-fluid" src="/assets/badges/ec.svg" > 
          <img class="img-fluid mt-0" src="/assets/badges/sepa-ueberweisung.svg" style="height: 2rem;">
        </div>
      </div>
    </div>
  </div>
</div>

<div>

  <div class="bg-white py-5 nav-footer text-hme-blue">
    <div class="container-lg d-flex justify-content-between">

      <div>
        <img src="/assets/logo-hm-easyumzug.svg" height="72">
        <p class="lh-sm mt-3">
          Tower ONE<br>
          Brüsseler Straße 1-3<br>
          60327 Frankfurt am Main
        </p>
        <p class="lh-sm mt-3">
          Öffnungszeiten<br>
          Mo. – Fr.: 08 – 17 Uhr<br>
          Sa.: 08 – 14 Uhr
        </p>
      </div>


      <div class="d-none d-md-flex justify-content-between lh-sm">


        <div class="">          
          {% for category in site.data.nav.categories %}
          {% if category.location contains "footer" and category.name == "moving" or category.name == "legal" %}

          {% for item in category.items %}
          <h6 class="mt-3 fw-semibold"><a class="link-hme-blue" href="{{ item.url }}">{{ item.title }}</a></h6>

          {% if item.subitems %}
          <ul class="list-unstyled">
            {% for subitem in item.subitems %}
            <li><a class="link-hme-blue" href="{{ subitem.url }}">{{ subitem.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endfor %}

          {% endif %}
          {% endfor %}
        </div>

        <div class="ms-4 ms-lg-5">
          {% for category in site.data.nav.categories %}
          {% if category.location contains "footer" and category.name == "services" %}

          {% for item in category.items %}
          <h6 class="mt-3 fw-semibold"><a class="link-hme-blue" href="{{ item.url }}">{{ item.title }}</a></h6>

          {% if item.subitems %}
          <ul class="list-unstyled">
            {% for subitem in item.subitems %}
            <li><a class="link-hme-blue" href="{{ subitem.url }}">{{ subitem.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endfor %}

          {% endif %}
          {% endfor %}
        </div>
        
        <div class="ms-4 ms-lg-5">
          {% for category in site.data.nav.categories %}
          {% if category.location contains "footer" and category.name == "other" %}

          {% for item in category.items %}
          <h6 class="mt-3 fw-semibold"><a class="link-hme-blue" href="{{ item.url }}">{{ item.title }}</a></h6>

          {% if item.subitems %}
          <ul class="list-unstyled">
            {% for subitem in item.subitems %}
            <li><a class="link-hme-blue" href="{{ subitem.url }}">{{ subitem.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endfor %}

          {% endif %}
          {% endfor %}
        </div>

      </div> 

      <div class="ps-4 d-none d-md-block">
        <a class="text-decoration-none text-secondary" href="{{ page.url }}"><i class="fa-solid fa-angle-up fa-4x"></i></a>
      </div>   

      <div class="d-md-none lh-sm">
        <div class="row">
          <div class="col-10 col-sm-3 order-sm-2">
            <a class="text-decoration-none text-secondary" href="/"><i class="fa-solid fa-angle-up fa-3x"></i></a>
          </div>
          <div class="col-10 col-sm-9 order-sm-1">

            {% for category in site.data.nav.categories %}
            {% if category.location contains "footer" and category.name == "other" or category.name == "legal" %}

            {% for item in category.items %}
            <h6 class="mt-2 fw-semibold"><a class="link-hme-blue" href="{{ item.url }}">{{ item.title }}</a></h6>

            {% if item.subitems %}
            <ul class="list-unstyled">
              {% for subitem in item.subitems %}
              <li><a class="link-hme-blue" href="{{ subitem.url }}">{{ subitem.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}

            {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>

    </div>

  </div>
</div>