<div class="container-lg">
  <div class="row g-0">
    <div class="col-4">
      <a type="button" class="d-block pe-2 mb-3 double-image" data-bs-toggle="modal" data-bs-target="#modal-1-1">
        <img class="d-block w-100 h-100" src="/assets/pics/gallery/hm-easyumzug-02-thumbnail.jpg">
      </a>
      <a type="button" class="d-block pe-2 mb-3 double-image" data-bs-toggle="modal" data-bs-target="#modal-2-1">
        <img class="d-block w-100 h-100" src="/assets/pics/gallery/hm-easyumzug-03-thumbnail.jpg">
      </a>
    </div>
    <div class="col-3">
      <a type="button" class="d-block px-2 mb-3 portrait-image" data-bs-toggle="modal" data-bs-target="#modal-1-2">
        <img class="d-block w-100 h-100" src="/assets/pics/gallery/hm-easyumzug-01-thumbnail.jpg">
      </a>
    </div>
    <div class="col-4">
      <img class="d-block w-100 ps-2 mb-3 double-image" src="/assets/pics/gallery/hm-easyumzug-03-thumbnail.jpg">
      <img class="d-block w-100 ps-2 mb-3 double-image" src="/assets/pics/gallery/hm-easyumzug-02-thumbnail.jpg">
    </div>
    <div class="col-1 position-relative">
      <h1 class="gallery-text position-absolute text-white">GALLERIE</h1>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-1-1" tabindex="-1" aria-labelledby="gallery image 1-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content bg-black">
      <div class="modal-body">
        <button type="button" class="btn-close bg-transparent border-0 position-absolute text-secondary" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-4x"></i></button>
        <img class="d-block w-100 p-3" src="/assets/pics/gallery/hm-easyumzug-02.jpg">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-2-1" tabindex="-1" aria-labelledby="gallery image 2-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content bg-black">
      <div class="modal-body">
        <button type="button" class="btn-close bg-transparent border-0 position-absolute text-secondary" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-4x"></i></button>
        <img class="d-block w-100 p-3" src="/assets/pics/gallery/hm-easyumzug-03.jpg">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-1-2" tabindex="-1" aria-labelledby="gallery image 1-2" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content bg-black">
      <div class="modal-body">
        <button type="button" class="btn-close bg-transparent border-0 position-absolute text-secondary" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-4x"></i></button>
        <img class="d-block h-75 p-3 mx-auto" src="/assets/pics/gallery/hm-easyumzug-01.jpg">
      </div>
    </div>
  </div>
</div>