<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
  <meta name="msapplication-square310x310logo" content="{{ '/assets/favicon/ms-icon.png' | relative_url }}">
  <link rel="icon" sizes="192x192" href="{{ '/assets/favicon/android-chrome-192x192.png' | relative_url }}">

  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | relative_url }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&family=Signika:wght@300;400;500;600;700" rel="stylesheet">

  <!--   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->

  <link href="/assets/fontawesome/css/all.css" rel="stylesheet">

  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/additional.css" rel="stylesheet">


  <!-- Final 
  <link href="/assets/fonts/fonts.css" rel="stylesheet">
-->
<link href="/css/custom.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

<script>
  $( document ).ready( function () {

    var current = 'a';

    $.validator.addMethod("tabRequired", function(value, element) {
      var $element = $(element)

        function match(index) {
          return current == index && $(element).parents("#pills-" + (index)).length;
        }
      if (match('a') || match('b')) {
        return !this.optional(element);
      }
      return "dependency-mismatch";
    }, $.validator.messages.required)

    var v=$( "#bookingForm" ).validate( {
      rules: {
        date: "required",
        flexibleDate: "required"
      }
    });

    $('#pills-a .btnNext').click(function() {
      const nextTabLinkEl = $('.nav-pills .active').closest('li').nextAll('li').first().find('button')[0];
      const nextTab = new bootstrap.Tab(nextTabLinkEl);
      if (v.form()) {
        nextTab.show();
        current = 'a';
        console.log(v.form());
      } else {
        console.log(v.form());
      }
    });

    $('#pills-a .btnPrevious').click(function() {
      const prevTabLinkEl = $('.nav-pills .active').closest('li').prevAll('li').last().find('button')[0];
      const prevTab = new bootstrap.Tab(prevTabLinkEl);
      prevTab.show();
    });
  });

</script>

{% seo title=false %}
</head>
