

<div class="text-center pt-5">

	<img src="/assets/icons/icon-move.svg">

	<p class="h2 py-4">Wir ziehen mit dieser Seite gerade um.</p>

	<div class="row">
		<div class="col-12 col-md-10 offset-md-1">

			<p>Sie wollen in Ihr neues Zuhause umziehen und benötigen eine reibungslose Logistiklösung? Sie planen Ihren Einzug zu einem späteren Zeitpunkt und möchten Ihr Umzugsgut vorerst einlagern? Oder möchten Sie einen individuell angepassten Full-Service-Umzug?</p>

			<p>Dann nehmen Sie jetzt mit uns Kontakt auf!</p>

		</div>
	</div>

	<a class="btn btn-hme-cta fw-semibold shadow p-3 mt-4" href="/kontakt">
		<img class="me-2" src="/assets/icons/icon-chat-light-blue-bg.svg" height="24"> Say Hello!
	</a>

</div>