

/* Video container */
/* https://codepen.io/DylanMacnab/pen/NjVXEe */
.video-container {
  height: calc(100vh - 88px);
  position: relative;
  overflow: hidden;
  @media(max-width: 767.98px) {
    height: calc(100vh - 76px);
  }
}

video {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.video-container:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(black, 0); /* .1  */
  z-index: 1;
}
.callout {
  position: relative;
/*   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center; */
  z-index: 10;
}
.hme-scroll-hint {
  position: absolute;
  z-index: 11;
  right: 2.5%;
  bottom: 32px;
}
.hme-scroll-hint:before{
  z-index: 11;
  content: '';
  display: block;
  margin: 0 auto 24px auto;
  width: 2px;
  height: calc(50vh - 120px);
  background: linear-gradient(to bottom,  rgba(239,35,60,0) 0%,rgba(239,35,60,1) 50%,rgba(239,35,60,1) 100%);
}

.hme-scroll-hint a {
  transform: rotate(90deg);
  left: 1px;
}

.video-container {
    animation: load 5s linear 0s 1 normal forwards;
    background-color: $hme-blue;
}
video {
  animation: show 2s ease 0s 1 normal forwards;
}
@keyframes load {
    0% {
        background-color: $hme-blue;
    }
    100% {
        background-color: #DAE1F3;
    }
}
@keyframes show {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.video-container > img {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/*.video-container:after {
  @media(max-width: 768px) {
    background: rgba(17, 54, 106, .2);
  }
}*/
  


/*.form {
  width: 35rem;
  position: relative;
  top: -20vh;
  z-index: 20;
  margin-bottom: -20vh;
}*/


.nav-link-custom.active {
  color: $white;
}
.nav-fill .nav-item .nav-link-custom {
  width: 100%;
}
.nav-link.active {
  font-size: 1rem;
}
/*.navbar .navbar-brand img {
  @media(max-width: 767.98px) {
    height: 60px;
  }
}
*/
/* Booking tool nav pills  */

.nav-pills .nav-link.nav-link-hme {
  width: 4rem;
  height: 4rem;
  border: 1px solid $white;
  padding: 0;
  @media(max-width: 768px) {
    width: 3rem;
    height: 3rem;
  }
}
.nav-pills .nav-link.nav-link-hme img {
  width: 2rem;
  height: 2rem;
  @media(max-width: 767.98px) {
    width: 1.75rem;
    height: 1.75rem;
  }
}
.nav-pills .nav-link.nav-link-hme.active {
  border: 2px solid $light-grey;
  /*background-color: #0C6593;*/
  background-image: url('/assets/icon-bg-hme-blue-grad.svg');
}
.nav-separator2 {
  width: 2.5rem; 
  border-top: 1px solid $white;
  margin: 0 1rem;
  @media(max-width: 767.98px) {
    width: 0.75rem;
    margin: 0 0.25rem;
  }
}
#bookingForm > ul > li:not(:last-child) {
  position:  relative;
  width:  calc(64px + 4.5rem);
  @media(max-width: 767.98px) {
    width:  calc(48px + 1.25rem);
  }
}
#bookingForm > ul > li:not(:last-child):after {
  content: ''; /*url('/assets/icons/sep-white-32px.svg');*/
  display: block;
  width: 2.5rem; 
  border-top: 1px solid $white;
  margin: 0 1rem;
  position: absolute;
  top: 50%;
  right: 0;
  @media(max-width: 767.98px) {
    width: 0.75rem;
    margin: 0 0.25rem;
  }
}

input[type="date"]
{
    display:block;
    -webkit-appearance: textfield;
    /*-moz-appearance: textfield;*/
    min-height: 1.2em;
    height: 40px;
} 


.blue-grad {
  background-image: radial-gradient(farthest-corner at 100% 0%, #11366A 20%, #113C70 150%);
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-width:  2px;
}

.bg-light-hme-blue {
  background-color:  #DADDE3;
}

.container.container-road {
  @media(max-width: 992px) {
    max-width: 400px!important;
  }
}
.road {
  background-image: url(/assets/road.svg);
  background-repeat: no-repeat;
  background-position: center top 80px;
  min-height: 50rem;
  @media(max-width: 992px) {
    background-image: url(/assets/road-mobile.svg);
    background-repeat: no-repeat;
    background-position: center top 160px;
    min-height: 50rem;
  }
}

.road-top-section {
  height: 240px;
  @media(max-width: 992px) {
    height:  260px;
  }
}
.road-middle-section {
  height: 160px;
  @media(max-width: 992px) {
    height:  200px;
  }
}
.road-bottom-section {
  height: 240px;
  @media(max-width: 992px) {
    height:  240px;
  }
}

/*.cta {
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/assets/pics/value_background_02-1.jpg");
}*/


.image {
  width: 57.67%;
  height: 450px;

  @media(max-width: 991.98px) {
    height: 50vw;
    width: 80vw;
  }
  @media (min-width: 1600px) {
    max-width: calc(50vw + 125px);
    height: auto;
  }
}
.image img {
  width: auto;
  height: 100%;
  @media (min-width: 1600px) {
    width: 100%;
    height: auto;
    position: relative!important;
  }
}

.text-wrapper {
  @media(max-width: 991.98px) {
    position: relative!important;
  }
  transition-delay: 0.3s;
}


.light-blue {
  color: #67BCDD;
  /*background-color: #CBE1E9;*/
}
.dark-blue {
  color: #7086A5;
  /*background-color: #BDC7D6;*/
}
.grey {
  color: #77999E;
  /*background-color: #D8E7ED;*/
}
.text-wrapper .display-2 {
  font-size: 2rem;
  line-height: 100%;
  @media(min-width: 992px) {
    font-size: 3.5rem;
  }
}

.required:after {
  content:" *";
  color: $hme-red;
}

.payment img {
  max-height:  3rem;
  margin: 0 1rem;
  @include media-breakpoint-down(lg) {
    margin: 0 0.75rem;
  }
  @include media-breakpoint-down(sm) {
    margin: 0 0.5rem;
    max-height: 2rem;
  }
}

/*footer .nav-footer h5 a,
footer .nav-footer h6 a,
footer .nav-footer li a {
  text-decoration: none;
  color: $black;
}*/
/*footer .links li{
  display: inline-block;
}
*/

.card-image-wrapper {
  min-height: 4rem;
}
a:hover .hme-card,
a:focus .hme-card {
  transform:  translateY(-.5rem);
}
a .hme-card {
  transition: all 200ms linear;
}
.z-index-bg {
  z-index: -1;
}



/*a:hover.link-hme-blue {
 background-color: #57768E!important;
}
a:hover.link-hme-primary {
 background-color: #57768E!important;
}
*/
.footer-cta .bg-primary.hover {
  background-color: #62849F!important;
}
.footer-cta .bg-hme-blue.hover {
  background-color: #0F315F!important;
}
.footer-cta .bg-secondary.hover {
  background-color: #CB1E33!important;
}
.footer-cta .bg-hme-dark-red.hover {
  background-color: #B71B2E!important;
}