.container.container-road {
  @media(max-width: 992px) {
    max-width: 400px!important;
  }
}
.road {
  background-image: url(/assets/road.svg);
  background-repeat: no-repeat;
  background-position: center top 80px;
  min-height: 50rem;
  @media(max-width: 992px) {
    background-image: url(/assets/road-mobile.svg);
    background-repeat: no-repeat;
    background-position: center top 160px;
    min-height: 50rem;
    p {
      font-size: 15px;
    }
  }

}

.road-top-section {
  height: 240px;
  @media(max-width: 992px) {
    height:  300px;
  }
}
.road-middle-section {
  height: 160px;
  @media(max-width: 992px) {
    height:  200px;
  }
}
.road-bottom-section {
  height: 240px;
  @media(max-width: 992px) {
    height:  240px;
  }
}

/*.cta {
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/assets/pics/value_background_02-1.jpg");
}*/


.image {
  width: 57.67%;
  height: 450px;

  @media(max-width: 991.98px) {
    height: 50vw;
    width: 80vw;
  }
  @media (min-width: 1600px) {
    max-width: calc(50vw + 125px);
    height: auto;
  }
}
.image img {
  width: auto;
  height: 100%;
  @media (min-width: 1600px) {
    width: 100%;
    height: auto;
    position: relative!important;
  }
}

.text-wrapper {
  @media(max-width: 991.98px) {
    position: relative!important;
  }
  transition-delay: 0.3s;
}


.light-blue {
  color: #67BCDD;
  /*background-color: #CBE1E9;*/
}
.dark-blue {
  color: #7086A5;
  /*background-color: #BDC7D6;*/
}
.grey {
  color: #77999E;
  /*background-color: #D8E7ED;*/
}
.text-wrapper .display-2 {
  font-size: 2rem;
  line-height: 100%;
  @media(min-width: 992px) {
    font-size: 3.5rem;
  }
}






