* {
  box-sizing: border-box;
}
body {
   padding-top: 88px;  /* offset for fixed-top navbar */
   @media(max-width: 767.98px) {
    padding-top: 76px;
  }
}
/* html, body { overflow-x: clip; } */
section {
  overflow-x: hidden;
}
/* offset scrolling position for anchor links */ 
html {
  scroll-padding-top: 88px; /* height of fixed header */
}

/* Contact cards */
.card-image-wrapper {
  min-height: 4rem;
}
a:hover .hme-card,
a:focus .hme-card {
  transform:  translateY(-.5rem);
}
a .hme-card {
  transition: all 200ms linear;
}

/* Footer */
.z-index-bg {
  z-index: -1;
}
.payment img {
  max-height:  3rem;
  margin: 0 1rem;
  @include media-breakpoint-down(lg) {
    margin: 0 0.75rem;
  }
  @include media-breakpoint-down(sm) {
    margin: 0 0.5rem;
    max-height: 2rem;
  }
}
.footer-cta .bg-primary.hover {
  background-color: #62849F!important;
}
.footer-cta .bg-hme-blue.hover {
  background-color: #0F315F!important;
}
.footer-cta .bg-secondary.hover {
  background-color: #CB1E33!important;
}
.footer-cta .bg-hme-dark-red.hover {
  background-color: #B71B2E!important;
}

.gallery-text {
  top: 100px;
  margin: 0;
  left: 50%;
  transform: translate(-50%,-50%) rotate(90deg);
}
.double-image {
  height: calc(50% - 1rem);
}
.portrait-image {
  height: calc(100% - 1rem);
}
.btn-close-gallery {
  top: -64px;
  right: 0;
  background-image: url(/assets/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 64px;
  width: 64px;
  padding-top: 64px;
}
.btn-close:after {
/*   content: 'CLOSE';
    position: absolute;
    bottom: -16px;
    left: 0px;
    margin-left: auto;
margin-right: auto; */
}
.gallery .modal-body img {
/*   max-height: 0.8vh;
*/}

.bio-text {
/*   text-align: justify;
  text-justify: inter-character; */
}
.gallery-image-wrapper {
  left: 128px;
  right: 128px;
  top: 96px;
  bottom: 80px;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.gallery-image-wrapper img {

  object-fit: contain;
}
.btn-previous {
  background-image: url(/assets/icons/arrow-previous.svg);
  left: -80px;
  background-position: left center;
}
.btn-next {
  background-image: url(/assets/icons/arrow-next.svg);
  right: -80px;
  background-position: right center;
}
.btn-gallery {
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  cursor: pointer;
}
.gallery .thumbnail a {
  background-color: $black;
  opacity: 1;
}
.gallery .thumbnail a:hover,
.gallery .thumbnail a:focus {
  background-color: $black;
  opacity: 0.5;
  transition: 0.3s;
}
.bg-dark-dark-blue-1 {
  background-color: #232F56;
}
.bg-dark-dark-blue-2 {
  background-color: #0D1C39;
}

.services-overview img {
  top: -32px;
  left: 0;
  right: 0;
}
.services-overview-bg {
  background-image: url(/assets/bg-services.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  @include media-breakpoint-down(md) {
    background-image: none;
  }
}
.services-overview a.btn {
  transition: all 200ms linear;
}
.services-overview a.btn:hover,
.services-overview a.btn:focus {
  transform:  translateY(-.5rem);
}
.services-overview-bg-1 {
  background-image: none;
  @include media-breakpoint-down(md) {
    background-image: url(/assets/bg-services-1.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
  }
}
.services-overview-bg-2 {
  background-image: none;
  @include media-breakpoint-down(md) {
    background-image: url(/assets/bg-services-2.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    margin-top: 4rem;
  }
}

/* .btn-expand {
  background-image: url(/assets/icons/close.svg);
  background-repeat: no-repeat;
  background-position: right center;
  height: 32px;
}
.btn-expand.collapsed {
  background-image: url(/assets/icons/plus-32px.svg);
  background-repeat: no-repeat;
  background-position: right center;
  height: 32px;
} */
/* .btn-collapse {
  background-image: url(/assets/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 64px;
  width: 64px;
} */

.btn-expand.collapsed > img {
  transition: transform 350ms ease;
}
.btn-expand:not(.collapsed) > img {
  transform: rotate(45deg);
  transition: transform 350ms ease;
}
.btn-expand:not(.collapsed) > span {
  display: none;
}
.btn-expand.collapsed {
  display: block;
  width: 100%;
}
.btn-expand:not(.collapsed) {
  display: inline;
  width: 32px;
  float: right;
}
.btn-expand:not(.collapsed).left {
  float: left;
}
/* .btn-expand.collapsed:hover > img {
  transform: rotate(135deg);
} */

.btn-close {
  background-image: url(/assets/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 64px;
  width: 64px;
  padding-top: 64px;
  margin-left: 32px;
  margin-bottom: 32px;
}

.bg-hme-service-1 {
  background-color: #D9E3EA;
}
.bg-hme-service-2 {
  background-color: #DFE6EB;
}
.bg-hme-service-3 {
  background-color: #E5E9ED;
}
.bg-hme-service-4 {
  background-color: #EBEDEF;
}

/* #packmaterial img {
  @include media-breakpoint-down(md) {
    max-width: 50%;
  }
} */

.dropdown-item {
  font-weight: 500;
}

.nav-link {
  @media(max-width: 1099.98px) { 
   padding-right: 1rem!important;
   padding-left: 1rem!important;
 }
  @media(max-width: 991.98px) { 
   padding-right: .5rem!important;
   padding-left: .5rem!important;
 }
}