---
layout: default
title: FAQ
permalink: faq/
---

<section class="py-5">
  <div class="container py-5">

    <h2 class="text-center fw-medium mt-0">Haeufig Gestellte Fragen / FAQ</h2>

    {% include separator.html %}

    <div class="accordion pt-5" id="faqAccordion">

      {% assign faq = site.data.faq %}
      {% for item in faq %}

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ forloop.index }}">
          <button class="accordion-button collapsed fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.index }}" aria-expanded="true" aria-controls="collapse-{{ forloop.index }}">
            {{ item.question }}
          </button>
        </h2>
        <div id="collapse-{{ forloop.index }}" class="accordion-collapse collapse " aria-labelledby="heading-{{ forloop.index }}" data-bs-parent="#faqAccordion"> 
          <div class="accordion-body">
            {{ item.answer }}
          </div>
        </div>
      </div>

      {% endfor %}

  </div>
</section>

<!-- show -->



    <!--   <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Bietet HM-Easyumzug auch den Transport von Klavieren an?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Selbstverständlich. Unsere Umzugshelfer sind speziell geschult, um den Transport von Klavieren jeglicher Art durchzuführen.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Wie lange im Voraus sollte ich mich um die Organisation meines Umzugs kümmern?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Normalerweise empfehlen wir, mindestens 4-6 Wochen vor dem geplanten
Umzugstermin Kontakt mit uns aufzunehmen, um einen passenden Termin zu finden.
Mit diesem Vorlauf haben wir in der Regel genügend Zeit, um alles sorgfältig zu
planen und zu organisieren. Du kannst jetzt gerne deinen Umzugstermin unter der
Telefonnummer 069/509587931 oder per E-Mail an hello………..vereinbaren.
          </div>
        </div>
      </div>
    </div> -->
