---
layout: default
title: Seniorenumzug - Seniorengerecht umziehen mit Rundum-Sorglos-Service
permalink: senioren-umzug/
description: "Seniorenumzüge in Frankfurt am Main mit dem Familienunternehmen HM-Easyumzug - Rundum-Sorglos-Service, Alles aus einer Hand, Persönliches Beratungsgespräch vor Ort, Leistungen speziell für Senioren!"
---

<section id="hero">
  <div class="" style="background-color: #4C5151;">
    <div class="senior-hero-container container-lg px-0 my-lg-5 d-flex justify-content-end justify-content-lg-end position-relative">
      <div class="d-none d-lg-block senior-hero-text position-absolute" data-aos="fade-right">
        <div class="position-relative top-50 translate-middle-y text-white text-center">
          <h1 class="lh-1 mb-4">Seniorengerecht <br>umziehen</h1>
          <h3 class="lh-sm">Rundum-Sorglos-Service <br>mit Hirn und Herz</h3>
        </div>
      </div>
      <img src="/assets/pics/senior-hero-new.jpg" data-aos="fade-left">
    </div>
  </div>
  <!-- responsive version -->
  <div class="overlap-top d-lg-none position-relative"  data-aos="fade-right">
  </div>
  <div class="m-0 d-lg-none container senior-hero-text-mobile py-4" data-aos="fade-right">
    <div class="row">
      <div class="col-12 text-white text-center">
        <h1 class="lh-1 mb-2">Seniorengerecht <br>umziehen.</h1>
        <h3 class="lh-1">Rundum-Sorglos-Service mit Hirn und Herz.</h3>
      </div>
    </div>
  </div>
  <div class="overlap-bottom mb-5 d-lg-none position-relative"  data-aos="fade-right">
  </div>
</section>

<section id="letter">
  <div class="bg-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-sm-8 col-md-8 col-lg-7">
          <h5>Mit HM-Easyumzug</h5>
          <!-- <img class="letter-preamble" src="/assets/pics/letter-preamble.png"> -->
          <h2 class="fw-light">Gemeinsam in das <br>neue Zuhause</h2>
          <p class="mb-0" >Bei uns stehen Sie im Mittelpunkt und genießen einen luxuriösen Umzugsservice — alles aus einer Hand! Wir wissen genau, welche Sorgen ein Umzug in diesem Lebensabschnitt mit sich bringt und kümmern uns von Familie für Familie.</p>
          <p>Gemeinsam mit Ihnen stehen wir im engen Austausch und begleiten Sie Schritt für Schritt durch den gesamten Umzugsprozess. Jeder Umzug ist einzigartig, deshalb gehen wir auf Ihre individuellen Bedürfnisse und Wünsche ein. Lassen Sie uns zusammen den Umzug zu einem positiven Erlebnis machen! </p>
          <img class="letter-signature" src="/assets/pics/letter-signature.png">
          <p class="fw-medium mb-0">Maryam Hemati</p>
          <p class="">Geschäftsführerin</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="quote2" class="py-5">
  <div class="bg-hme-light-blue py-3">
    <div class="py-5" style="background-color: #E4EAEE;">
      <div class="container">
        <div class="row">
          <div class="col-10 offset-1">
           <p class="fs-2 lh-sm fw-light text-center text-black">«Unser Ziel ist es, Sie bestmöglich zu beraten. Dafür nehmen wir uns Zeit für ein persönliches Gespräch und sind gerne auch vor Ort für Sie da.»</p> 
         </div>
       </div>
     </div>
   </div>
 </div>
</section>

<section id="personal-consultation" class="py-6">
  <div class="bg-light-grey">
    <div class="container-lg senior-usp px-0">
      <div class="row">
        <div class="col-12 offset-0 col-sm-8 offset-sm-2 col-lg-5 offset-lg-0 offset-xl-0 col-xxl-5 offset-xxl-0" data-aos="fade-right">
          <img class="w-100" src="/assets/pics/senior-personal-consultation.jpg">
        </div>
        <div class="d-none d-lg-block offset-1 col-lg-5 col-xl-5 offset-xxl-1 text-black pt-4 pt-xxl-6" data-aos="fade-left">
          <h2 class="fw-light">Sie stehen im Mittelpunkt</h2>
          <p>Ortsveränderungen bedeuten große Schritte in eine neue Richtung – daher bieten wir Ihnen unsere volle Unterstützung an. Vom ersten Besichtigungstermin bis zur Abwicklung von notwendigen Formalitäten übernehmen wir alle organisatorischen Aufgaben, und stehen Ihnen jederzeit mit Rat und Tat zur Seite. Bereiten Sie sich auf Ihren neuen Lebensabschnitt vor – wir kümmern uns um Alles andere.</p>
          <a class="link-primary" href="/kontakt">Jetzt Kontakt aufnehmen</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white text-black">
    <div class="container-lg">
      <div class="row">
        <div class="d-lg-none col-12 offset-0 col-sm-8 offset-sm-2 pt-5"  data-aos="fade-left">
          <h2 class="fw-light">Sie stehen im Mittelpunkt</h2>
          <p>Ortsveränderungen bedeuten große Schritte in eine neue Richtung – daher bieten wir Ihnen unsere volle Unterstützung an. Vom ersten Besichtigungstermin bis zur Abwicklung von notwendigen Formalitäten übernehmen wir alle organisatorischen Aufgaben, und stehen Ihnen jederzeit mit Rat und Tat zur Seite. Bereiten Sie sich auf Ihren neuen Lebensabschnitt vor – wir kümmern uns um Alles andere.</p>
          <a class="link-primary" href="/kontakt">Jetzt Kontakt aufnehmen</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="quote" class="py-5">
  <div class="py-3" style="background-color: #355480;">
    <div class="py-5" style="background-color: #1A3A66;">
      <div class="container">
        <div class="row">
          <div class="col-10 offset-1">
           <p class="fs-2 lh-sm fw-light text-center text-white">«Ein Umzug im Alter ist eine Herausforderung, aber auch eine Gelegenheit, das Leben neu zu gestalten.»</p>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>

<section id="for-seniors" class="py-6">
  <div class="bg-light-grey">
    <div class="container-lg senior-usp px-0">
      <div class="row">
        <div class="d-none d-lg-block offset-1 col-lg-5 col-xl-5 col-xxl-4 offset-xxl-2 text-black pt-4 pt-xxl-5" data-aos="fade-right">
          <h2 class="fw-light">Leistungen speziell für Senioren*innen</h2>
          <p>Um ein reibungslosen Umzug zu gewährleisten bieten wir alle Leistungen – aus einer Hand:</p>
          <ul>
            <li>Persönliche Beratung und Betreuung</li>
            <li>Begleitung bei Behördengängen</li>
            <li>Zuverlässiges Handwerkerteam</li>
            <li>Möbelmontage, Malerarbeiten und Endreinigung</li>
            <li>Lagerung und Verkleinerung</li>
            <li>Auf Wunsch klimaneutral 🌱</li>
          </ul>
          <!-- <p>Sie haben die Wahl!</p> -->
          <a class="link-primary" href="/services">Unsere Rundum-Sorglos-Leistungen ansehen</a>
        </div>
        <div class="col-12 offset-0 col-sm-8 offset-sm-2 col-lg-5 offset-lg-1 offset-xl-1 col-xxl-5 offset-xxl-1" data-aos="fade-left">
          <img class="w-100" src="/assets/pics/senior-portrait.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white text-black">
    <div class="container-lg">
      <div class="row">
        <div class="d-lg-none col-12 offset-0 col-sm-8 offset-sm-2 pt-5" data-aos="fade-right">
          <h2 class="fw-light">Leistungen speziell für Senioren*innen</h2>
          <p>Um ein reibungslosen Umzug zu gewährleisten bieten wir alle Leistungen aus einer Hand:</p>
          <ul>
            <li>Persönliche Beratung und Betreuung</li>
            <li>Begleitung bei Behördengängen</li>
            <li>Zuverlässiges Handwerkerteam</li>
            <li>Möbelmontage, Malerarbeiten und Endreinigung</li>
            <li>Lagerung und Verkleinerung</li>
            <li>Auf Wunsch klimaneutral 🌱</li>
          </ul>
          <!-- <p>Sie haben die Wahl!</p> -->
          <a class="link-primary" href="/services">Unsere Rundum-Sorglos-Leistungen ansehen</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cta">
  <div class="bg-light-grey py-6">
    <div class="container-lg">
      {% include cta.html cta="Jetzt Kontakt aufnehmen!" %}
    </div>
  </div>
</section>

<section id="concept">
  <div class="bg-white py-5 pt-6">
    <div class="container">
      <div class="row g-3">
        <div class="col-12 text-center">
          <h2 class="fw-light">Unser Umzugskonzept für Senioren</h2>
          <h4 class="mb-4 mb-sm-5">Schritt für Schritt durchdacht</h4>
        </div>
        <div class="col-12 col-sm-6 col-xl-5 offset-xl-1 order-2 order-sm-1">
          <h5 class="text-hme-blue">1. Grobplanung:</h5>
          <ul>
            <li>Persönliche Betreuung und Beratung</li>
            <li>Fester Ansprechpartner</li>
            <!-- <li>Mehrere Beratungsgespräche für Ihre Sicherheit und Ihr Wohlbefinden</li> -->
            <li>Flexible und individuelle Umzugsberatung</li>
            <li>Unterstützung bei Behördenangelegenheiten</li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-xl-5 order-2 order-sm-1">
          <h5 class="text-primary">2. Vor-Ort-Besichtigung:</h5>
          <ul>
            <li>Persönliches Kennenlernen</li>
            <li>Besichtigung der Gegebenheiten vor Ort</li>
            <li>Verifizierung der Grobplanung</li>
            <li>Vorbereitung der Feinplanung</li>
          </ul>
        </div>
        <div class="col-6 offset-3 col-md-4 offset-md-4 text-center order-1 order-sm-2 mb-4 mb-sm-3">
          <img class="senior-concept w-100" src="/assets/pics/senior-concept.png">
        </div>
        <div class="col-12 col-sm-6 col-xl-5 offset-xl-1 order-3">
          <h5 class="text-dark-grey">3. Feinplanung:</h5>
          <ul>
            <li>Detailplanung aller Services</li>
            <li>Bestimmung von Umzugsvolumen und Leistungszeiten</li>
            <li>Angabe des Transportpreises</li>
            <!-- <li>Festlegung der Leistungszeiten </li> -->
            <li>Transparentes Angebot mit Festpreis-Garantie</li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-xl-5 order-3">
          <h5 class="text-dark-green">4. Umsetzung:</h5>
          <ul>
            <li>Umzugsleiter als fester Ansprechpartner</li>
            <li>Eingespieltes und zuverlässiges Handwerkerteam</li>
            <li>Sorgfältige und effiziente Umsetzung</li>
            <li>Genaue Koordination</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="testimonials position-relative" class="pt-5">
  <div class="pt-6 pb-3" style="background-color: #F7F9FB;">
    <div class="container">
      <div class="row">
        <div class="col-10 col-lg-8 offset-1 offset-lg-2 ">
          <img class="mx-auto mb-4 d-block" src="/assets/icons/5-stars.svg">
          <h2 class="fw-light text-center mb-4">«Sehr empfehlenswertes Familienunternehmen!»</h2>
          <p class="mb-0">«Ein sehr empfehlenswertes Familienunternehmen, sehr professionell, freundlich und schnell. Professionelle Planung, Vorbereitung und Umsetzung! Mit Abstand die beste Erfahrung bei unseren 8+ Umzügen. Super Teamarbeit.</p>
          <p class="mb-0">Der Umzug wurde von Frankfurt nach München in der vorgegebenen Zeit und ohne Mängel durchgeführt! Ob vor Ort beim Umzug, oder bei der administrativen Abwicklung verlief alles reibungslos und professionell! Ich würde HM-Easyumzug jeder Zeit weiterempfehlen!»</p>
        </div>
      </div>
    </div>
  </div>
  <div class="position-relative">
    <div class="container-fluid position-absolute h-100 z-index-bg">
      <div class="row h-100">
        <div class="col-12" style="background-color: #F7F9FB;">
        </div>  
        <div class="col-12" style="background-color: #E5ECF1;">
        </div>
      </div>      
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <img src="/assets/pics/senior-testimonial.png">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid pb-6 text-center" style="background-color: #E5ECF1;">
    <p><strong>Harald K.</strong></p>
  </div>
</section>

<section id="cta">
  <div class="bg-white py-5 pb-6">
    <div class="container-lg pt-5">
      {% include cta.html cta="Jetzt Kontakt aufnehmen!" %}
    </div>
  </div>
</section>

<section id="quality">
  <div class="bg-light-grey py-5 pb-6">
    <div class="container-lg pt-5">

      <div class="row pt-2">
        <div class="col-12 col-md-8 offset-md-2 fw-light h1 mb-3 text-center">
          Wir arbeiten gemäß den Richtlinien des Bundesverbands Möbelspedition und Logistik (AMÖ) e.V. 
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-12 col-md-9">
          <div class="row">
            <div class="col-4">
              <img class="d-block w-100 shadow" src="/assets/pics/quality-amoe-guidelines.png">
            </div>
            <div class="col-4">
              <img class="d-block w-100 shadow" src="/assets/pics/quality-allianz-insurance-1.png">
            </div>
            <div class="col-4">
              <img class="d-block w-100 shadow" src="/assets/pics/quality-allianz-insurance-2.png">
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-12 col-md-8 offset-md-4">
          <p>Unser Team qualifizierter Beratungs- und Umzugsexperten arbeitet streng nach AMÖ-Richtlinien. Wir beraten Sie gründlich, umfassend und transparent, und wir informieren Sie ausführlich über die Versicherungs- und Haftungsbestimmungen in Zusammenarbeit mit einem seriösen Versicherer.</p>
          <a class="link-primary" href="/kontakt">Jetzt Kontakt aufnehmen</a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="py-5" id="reviews">
  <div class="container-lg py-5 ">
    <div class="row">
      <div class="col-12">
        <h2 class="fw-light text-center mb-4">Kundenstimmen</h2>
      </div>
    </div>

    <div class="py-3 w-100">
      <script defer async src='https://cdn.trustindex.io/loader.js?70fc45510bf0507a7a269392298'></script>
    </div>

    <p class="text-center"><a href="https://www.google.com/search?hl=en-DE&gl=de&q=HM-Easyumzug,+MesseTurm,+Friedrich-Ebert-Anlage+49,+60308+Frankfurt+am+Main&ludocid=17324383658276283372&lsig=AB86z5W0vmd4MTS75BuVBnEmbh0m#lrd=0x47bd0f4872326c53:0xf06c93261023e3ec,1,,,">Alle Kundenstimmen ansehen.</a></p>

  </div>
</section>

<section id="cta2">
  <div class="bg-white pt-5 pb-6">
    <div class="container-lg">
      {% include cta.html cta="Jetzt Kontakt aufnehmen!" %}
    </div>
  </div>
</section>
