---
layout: default
title: Unternehmen
permalink: unternehmen/
---

<section id="vision">
  <div class="bg-white py-5">
    <div class="container pt-5">
      <h2 class="text-center fw-semibold">Unsere Familienunternehmensphilosophie</h2>
      
      {% include separator.html %}

      <div class="row pt-5">
        <div class="col-12 col-md-9 fw-medium h1 mb-3">
          “Was uns einzigartig macht,<br> ist das Vertrauen unserer Kunden.”
        </div>
        <div class="col-1 col-md-3">
        </div>
        <div class="col-9 offset-0 col-md-10 offset-md-1">
          <p class="mb-2">HM-Easyumzug wurde vom Vater-Tochter-Duo Sayed Hossaini und Maryam Hemati gegründet. Die Vision: Umzüge vom Kunden her neu zu denken - Full-Service-Umzüge aus einer Hand, unterstützt durch innovative und moderne Technik.</p>
          <p>Vater und Tochter kombinieren jahrelange Erfahrung in der Logistik und Spedition mit außergewöhnlichem Customer Service. Umzug ist Vertrauenssache - dafür steht HM-Easyumzug.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="background-color: #E0EDF2;">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-2">
          <img class="img-fluid" src="/assets/pics/father-daughter-light-blue.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white pt-3 pb-5">
    <div class="container pb-5">
      <div class="row pb-5">
        <div class="col-6 offset-0 col-md-5 offset-md-2">
          <p><strong>Sayed Hossaini</strong> ist <strong>Team- und Umzugsleiter</strong> von HM-Easyumzug. Herr Hossaini ist verantwortlich für das operative Tagesgeschäft und die Umzugsdurchführung, insbesondere für <strong>Logistik und Organisation</strong>.
          Davor war er über 25 Jahre in unterschiedlichen Positionen in der Automobil- und Logistikbranche tätig, sowohl national als auch international.</p>
        </div>
        <div class="col-6 offset-0 col-md-5 offset-md-0">
          <p><strong>Maryam Hemati</strong>, geb. Hossaini, ist <strong>Geschäftsführerin</strong> von HM-Easyumzug. 
            Frau Hemati ist für die Unternehmenslenkung und Geschäftsentwicklung im Privat- und Firmenkundenbereich zuständig, insbesondere für <strong>Umzugsmanagement und Consulting</strong>.
            Sie verfügt über einen Bachelor of Science in Mathematik und mehrjährige Arbeitserfahrung als Financial Engineer bei einem Frankfurter Bewertungsdienstleister.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gallery">
 <div class="bg-black py-5">

  {% include gallery.html %}

  </div>
</section>
