---
layout: default
title: Unternehmen
permalink: unternehmen/
---

<section id="vision">
  <div class="bg-white py-5">
    <div class="container pt-5">
      <h2 class="text-center fw-semibold">Unsere Familien<span class="d-md-none">-<br></span>unternehmensphilosophie</h2>
      
      {% include separator.html %}

      <div class="row pt-5">
        <div class="col-12 col-md-9 fw-medium h1 mb-3">
          “Was uns einzigartig macht,<br> ist das Vertrauen unserer Kunden.”
        </div>
        <div class="col-1 col-md-3">
        </div>
        <div class="col-11 offset-0 col-md-10 offset-md-1">
          <p class="mb-2">HM-Easyumzug wurde vom Vater-Tochter-Duo Sayed Hossaini und Maryam Hemati gegründet. Die Vision: Umzüge vom Kunden her neu zu denken - Full-Service-Umzüge aus einer Hand, unterstützt durch innovative und moderne Technik.</p>
          <p>Vater und Tochter kombinieren jahrelange Erfahrung in der Logistik und Spedition mit außergewöhnlichem Customer Service. Umzug ist Vertrauenssache - dafür steht HM-Easyumzug.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="background-color: #E6E0CF;">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-11 offset-md-1">
          <img class="d-block w-100" src="/assets/pics/father-daughter-beige.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white pt-3 pb-0 pb-md-5">
    <div class="container pb-5">
      <div class="row">
        <div class="col-6 offset-0 col-md-5 offset-md-1 bio-text">
          <h2>Sayed Hossaini</h2>
          <p> ist <strong>Team- und Umzugsleiter</strong> von HM-Easyumzug. Herr Hossaini ist verantwortlich für das operative Tagesgeschäft und die Umzugsdurchführung, insbesondere für <strong>Logistik und Organisation</strong>.</p>
          <p class="mb-0">Davor war er über 25 Jahre in unterschiedlichen Positionen in der Automobil- und Logistikbranche tätig, sowohl national als auch international.</p>
        </div>
        <div class="col-6 offset-0 col-md-5 offset-md-1 bio-text">
          <h2>Maryam Hemati</h2>
          <p>geb. Hossaini, ist <strong>Geschäftsführerin</strong> von HM-Easyumzug. Frau Hemati ist für die Unternehmenslenkung und Geschäftsentwicklung im Privat- und Firmenkundenbereich zuständig, insbesondere für <strong>Umzugsmanagement und Consulting</strong>.</p>
          <p class="mb-0">Sie verfügt über einen Bachelor of Science in Mathematik und mehrjährige Arbeitserfahrung als Financial Engineer bei einem Frankfurter Bewertungsdienstleister.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="random-fact">
 <div class="bg-light-grey py-5 py-md-6">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <h2>Wussten Sie, wie viele Deutsche jährlich umziehen?</h2>
        <p>Etwa 9,39 Millionen Deutsche ziehen jährlich um. Das sind gut 25.000 pro Tag. Knapp 3% der Deutschen tun sich den Umzugsstress sogar mehr als 1 Mal pro Jahr an.</p>
      </div>
    </div>
  </div>

</div>
</section>

<!-- Daten und Fakten -->

<section class="data-and-facts position-relative">

  <div class="container-fluid position-absolute z-index-bg h-100 d-none d-md-block ">
    <div class="row h-100">
      <div class="col-12 col-md-6 bg-dark-dark-blue-1">
      </div> 
      <div class="col-12 col-md-6 bg-dark-dark-blue-2">
      </div>
    </div>
  </div>

  <div class="container-lg text-white pt-0 py-md-6"> <!-- 0 padding on small screens -->
    <div class="d-none d-md-block">
      <h2 class="text-center fw-semibold">Daten & Fakten</h2>      
      {% include separator.html %}
    </div>
    <div class="row">
      <div class="d-block d-md-none bg-dark-dark-blue-1 pt-5">
        <h2 class="text-center fw-semibold">Daten & Fakten</h2>      
        {% include separator.html %}
      </div>
      <div class="col-12 col-md-4 offset-md-1 text-end bg-dark-dark-blue-1 py-5 pe-5 pe-md-0">
        <div class="display-0 fw-medium mb-2">300+</div>
        <div class="h5 fw-medium mb-5 mb-md-6">Privat- und Firmenumzüge</div>
        <div class="display-4 fw-medium mb-2">5/5 Sterne</div>
        <div class="h5 fw-medium mb-5 mb-md-6">Bewertung</div>
        <div class="display-0 fw-medium mb-2">100+</div>
        <div class="h5 fw-medium mb-5 mb-md-6">&#13221; Ladevolumen</div>
        <div class="display-4 fw-medium mb-2">ONE</div>
        <div class="h5 fw-medium">Office</div>
      </div>
      <div class="col-12 col-md-4 offset-md-2 text-start bg-dark-dark-blue-2 py-5 ps-5 ps-md-0">
        <h4 class="mb-0">Europaweit</h4>
        <p class="h5 fw-normal mb-4 mb-md-5">Umzüge in ganz Europa, z.B. Umzüge nach Dänemark, Schweiz, Frankreich, Belgien, etc.</p>
        <h4 class="mb-0">Fuhrpark</h4>
        <p class="h5 fw-normal mb-4 mb-md-5">3,5 - 7,5t LKWs, 100+ &#13221; Ladevolumen</p>
        <h4 class="mb-0">Umwelt</h4>
        <p class="h5 fw-normal mb-4 mb-md-5">LKWs mit Umweltplaketten Euro 6, Umweltfreundliches Umzugsmaterial</p>
        <h4 class="mb-0">Storage</h4>
        <p class="h5 fw-normal mb-4 mb-md-5">400 &#13217; Lagerfläche,<br>
          Lagerboxen (ca. 3,5   &#13217; &amp; 7,7 &#13217;),<br>
          Container (ca. 11 &#13217; &amp; 26 - 30,5 &#13221;),<br>
          Premium Räume (ca. 10 &#13217; &amp; ca. 30,5 &#13221;)
        </p>
        <h4 class="mb-0">Office</h4>
        <p class="h5 fw-normal">Modernster Wolkenkratzer im Herzen Frankfurts: Tower ONE,<br>Besuchen Sie uns in der Business-Lounge im 15. Stockwerk</p>
      </div>
    </div>
  </div>

</section>


<section class="quality">
 <div class="bg-white py-6">

  <div class="container">
    <h2 class="text-center fw-semibold">Qualität</h2>

    {% include separator.html %}

    <div class="row gx-5">
      <div class="col-12 col-md-10 offset-md-1 fw-medium h1 mb-5 text-center">
        Die Richtlinien des Bundesverbands Möbelspedition und Logistik (AMÖ) e.V. 
      </div>
      <div class="col-6 offset-3 col-md-4 offset-md-0 mb-5 mb-md-0">
        <img class="d-block w-100 shadow" src="/assets/pics/quality-amoe-guidelines.png">
      </div>  
      <div class="col-12 col-md-8">
        <ol>
          <li>Nach den Grundsätzen und Regeln eines ordentlichen Kaufmanns zu arbeiten.</li>
          <li>Ein übersichtliches und detailliertes Angebot zu erstellen.</li>
          <li>Gründlich und umfassend zu beraten und eine Leistungsbeschreibung als Bestandteil des Umzugsvertrages beizufügen.</li>
          <li>Ausführlich über Versicherungs- und Haftungsbestimmungen zu informieren.</li>
          <li>Mit seriösen Versicherern zusammenzuarbeiten.</li>
          <li>Als Umzugsberater, Tranportleiter und Packer sowie für vereinbarte Handwerkerleistungen Fachpersonal einzusetzen.</li>
          <li>Umweltverträgliche Verpackungsmaterialien zu benutzen, Fahrzeuge zu verwenden, die für die Beförderung von Möbeln besonders eingerichtet und ausgerüstet sind und dem derzeitigen Sicherheitsstandard entsprechen.
          Geeignete und sichere Möbellager und Standplätze für die Fahrzeuge vorzuhalten.</li>
          <li>Korrekte, nachprüfbare Abrechnungen zu erstellen.</li>
          <li>Bei Meinungsverschiedenheiten mit dem Kunden dem Spruch der Einigungsstelle der AMÖ zu folgen.</li>
          <li>Das Unternehmen hat versichert, seine sozialversicherungs-rechtlichen und steuerrechtlichen Verpflichtungen zu erfüllen.</li>
        </ol>
      </div>
    </div>
  </div>

</section>

<!-- Gallery -->

<section class="gallery">
 <div class="bg-black py-6">

  {% include gallery.html %}

  <div class="container-lg text-white mt-3">

    Folgen Sie uns auf Instagram <i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/hmeasyumzug/?hl=af">@hmeasyumzug</a>

  </div>

</div>
</section>